html {
	background: #000;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(#000, #2C2F34);
	color: #FFF;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}



h1 { 
	top: 20px;
	left: 30px;
	margin: 0 0 30px 0;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
}
h2 {
	font-family: 'Acme', sans-serif;
	margin: 70px 0 30px 0;
	font-size: 2.5rem;
}

a, a:visited, a:hover {
	color: #2BB0EA;
}

ul {
	margin: 0 0 30px 0;
}

footer {
	padding: 50px 0;
	font-family: 'Acme', sans-serif;
	background: #000;
}

.hero {
	position: relative;
	height: 700px;
	margin: 20px;
	h1 {
		margin: 0;
		position: absolute;
		z-index: 20;
		top: auto;
		bottom: 30px;
    	left: 50px;
		color: #FFF;
		text-shadow: 0 0 2px #000;
    	font-size: 90px;
    	opacity: 0.5;
	}
	.hero-image {
		position: absolute;
		z-index: 10;
		-webkit-filter: blur(2px) grayscale(100%);
	   	filter: blur(2px) grayscale(100%);
		background: url(/images/dkiser5.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 700px;
		width: 100%;
		border-radius: 10px;
	}
}

.band-bio {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}

.band-member {
	position: relative;
	height: 400px;
	margin: 50px 0;
	box-shadow: 0 0 5px #000;
	.band-member-cover {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 40;
		background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
		//opacity: 0.5;
	}
	.band-member-image {
		//-webkit-filter: grayscale(10%);
		//filter: grayscale(10%);
		background-size: cover;
		background-position: center 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 30;
	}
	.band-member-info {
		position: absolute;
		bottom: 20px;
		left: 24px;
		z-index: 50;
		h5 {
			margin: 0;
		}
		h6 {
			margin: 0;
			font-size: 18px;
		}
	}

}

.smoke {
  	position: absolute;
  	z-index: 100;
  	left: 50%;
  	margin: 0 0 0 -200px;
  	width: 400px;
  	height: 400px;
  	opacity: 0;
  	top: -400px;
  	background: url(/images/smoke.png);
  	background-repeat: no-repeat;
  	background-size: cover;
  	-webkit-animation: smoking 10s linear; // infinite;
  	animation: smoking 10s linear; // infinite;
}

@-webkit-keyframes smoking {
    0% { top: 1000px; opacity: 0; }
    25% { opacity: 1; }
    100% { top: -400px; opacity: 1; }
}
@keyframes smoking {
    0% { top: 1000px; opacity: 0; }
    25% {  opacity: 1; }
    100% { top: -400px; opacity: 1; }
}

// @-webkit-keyframes heroblur {
//   0%,100% {
//   	-webkit-filter: blur(2px) grayscale(100%);
//   	filter: blur(2px) grayscale(100%);
//   }
//   50% {
//   	-webkit-filter: blur(4px) grayscale(100%);
//   	filter: blur(4px) grayscale(100%);
//   }
// }

/*** MEDIA QUERIES ***/

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

/* Tablets (>=768px)*/
@media (max-width: 991px) {
	
}

/*Phones (<768px)*/
@media (min-width: 768px) {
	
}

@media (max-width: 767px) {
	.hero {
		height: 400px;
		margin: 0;
		h1 {
	    	font-size: 50px;
	    	left: 25px;
	    	bottom: 15px;
		}
		.hero-image {
			-webkit-filter: blur(1px) grayscale(100%);
		   	filter: blur(1px) grayscale(100%);
			height: 400px;
			border-radius: 0;
		}
	}
}

@media (max-width: 480px) {
}